div.membersify-user-page div.membersify-purchase-link {
    clear: both;
    display: block;
    margin: 15px 0;
}
.membersify_button {
    border: 1px solid;
    padding: 5px;
    margin: 0 3px;
}
div.membersify-user-page h3 {
    font-weight: bold;
}
div.membersify-user-page .membersify-subscription-actions {
    margin: 8px 0;
    float: right;
}
div.membersify-user-page div.membersify-subscription {
    margin: 5px 0;
}

div.membersify-profiles div.membersify-profile {
    clear: both;
    margin: 7px 0;
}
div.membersify-profiles div.membersify-profile div {
    float: right;
    margin: 0 5px;
}
div.membersify-profiles div.membersify-profile div.membersify-profile-display {
    font-weight: bold;
    float: none;
}
div.membersify-profiles div.membersify-profile div.membersify-profile-status {
    float: left;
    font-style: italic;
}
div.membersify-profiles div.membersify-profile div.membersify-clearfix {
    clear: both;
    float: none;
}
#membersify_add_card_button {
    margin-right: 10px;
}