.membersify_free_explanation {
  font-size: 0.8em;
}
.membersify_checkout_summary th.item_header {
  width: 66%;
}
.membersify_checkout_summary .membersify_price {
  text-align: right;
}
.membersify_checkout_summary .membersify_name {
  font-weight: bold;
}
.membersify_checkout_summary .membersify_description {
  font-size: 0.8em;
}
.membersify_checkout_summary .membersify_total .membersify_price {
  font-weight: bold;
}